@page "/status"

@using MeasureFrontend.Services;
@using MeasuringServer.Model;

@inject IAPIMeasureDeviceService APIMeasureDeviceService;

<h3>Mérőelem stásuszok</h3>
    if (@devices.Count==0){
        <p>Nincs elem az adatbázisban</p>
    }
    else 
        <p>Az adatábzisban @devices.Count mérő elemet találtam.</p>

@code {
    private List<EFMeasureDevice> devices;

    protected override async Task OnInitializedAsync()
    {
        devices = await MDService.GetAllMeasureDevices();
        if (devices == null)
            devices = new List<EFMeasureDevice>();
    }
}
